{% extends 'base.html' %}

{% block title %}Forgot password{% endblock %}

{% block content %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">

        {% if messages %}
            
                {% for message in messages %}
                    {% if message.level == 40 %} <!-- Error message -->
                        <li class="alert alert-danger">{{ message }}</li>
                    {% elif message.level == 25 %} <!-- Success message -->
                        <li class="alert alert-success">{{ message }}</li>
                    {% else %}
                        <li class="alert alert-info">{{ message }}</li> <!-- Other types of messages -->
                    {% endif %}
                {% endfor %}
             {% endif %}
        <h2>Forgot Password</h2>
        <form method="post" id="forgot-password-form" onsubmit="return validateForm()">
            {% csrf_token %}
            {{ form.as_p }}

            <div id="email-error" class="alert alert-danger" style="display: none;">
                <strong>Error!</strong> Please enter a valid email address.
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <button class="btn btn-secondary">
                <a href="{% url 'login' %}" style="color: white; text-decoration: none;">Back</a>
            </button>
            <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
         
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function validateForm() {
            const email = document.getElementById('id_email').value;
            const emailError = document.getElementById('email-error');
         

 
            emailError.style.display = 'none';
     

  
            const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
            if (!email.match(emailPattern)) {
                emailError.style.display = 'block'; // Show email error message
                return false; // Prevent form submission
            }
        }
    </script>
{% endblock %}