{% extends 'base.html' %}

{% block title %}Reset password{% endblock %}

{% block content %}
    <title>Reset Password</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if message.level == 40 %} <!-- Error message -->
                        <li class="alert alert-danger">{{ message }}</li>
                    {% elif message.level == 25 %} <!-- Success message -->
                        <li class="alert alert-success">{{ message }}</li>
                    {% else %}
                        <li class="alert alert-info">{{ message }}</li> <!-- Other types of messages -->
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}

        <h2>Reset Password</h2>
        
        <form method="post" onsubmit="return validatePassword()">
            {% csrf_token %}
            {{ form.as_p }}

            <!-- Error message for password mismatch -->
            <div id="password-error" class="alert alert-danger" style="display: none;">
                <strong>Error!</strong> Passwords do not match.
            </div>

            <button type="submit" class="btn btn-primary">Reset Password</button>
            <button class="btn btn-secondary">
                <a href="{% url 'verify_otp' %}" style="color: white; text-decoration: none;">Back</a>
            </button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function validatePassword() {
            const newPassword = document.getElementById('id_new_password').value;
            const confirmPassword = document.getElementById('id_confirm_password').value;
            const passwordError = document.getElementById('password-error');
            
           
            passwordError.style.display = 'none';

            if (newPassword !== confirmPassword) {
              
                passwordError.style.display = 'block';
                return false;  
            }

            return true; 
        }
    </script>
{% endblock %}